{
  "swagger": "2.0",
  "info": {
    "title": "apim-openai",
    "version": "1.0",
    "description": "Azure OpenAI APIs for completions and search"
  },
  "host": "apim-demo-dib.azure-api.net",
  "basePath": "/apim-openai",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "api-key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/deployments/{deployment-id}/completions": {
      "post": {
        "description": "Creates a completion for the provided prompt, parameters and chosen model.",
        "operationId": "Completions_Create",
        "summary": "Creates a completion for the provided prompt, parameters and chosen model.",
        "parameters": [
          {
            "name": "deployment-id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "deployments-deployment-id-CompletionsPostRequest-2",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Deployments-deployment-id-CompletionsPostRequest-2"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "apim-request-id": {
                "type": "string",
                "description": "Request ID for troubleshooting purposes"
              }
            },
            "schema": {
              "$ref": "#/definitions/DeploymentsDeployment-idCompletionsPost200ApplicationJsonResponse"
            },
            "examples": {
              "application/json": {
                "model": "davinci",
                "object": "text_completion",
                "id": "cmpl-4509KAos68kxOqpE2uYGw81j6m7uo",
                "created": 1637097562,
                "choices": [
                  {
                    "index": 0,
                    "text": "The price for bubblegum decreased on thursday.",
                    "logprobs": null,
                    "finish_reason": "stop"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Service unavailable",
            "headers": {
              "apim-request-id": {
                "type": "string",
                "description": "Request ID for troubleshooting purposes"
              }
            },
            "schema": {
              "$ref": "#/definitions/errorResponse"
            },
            "examples": {
              "application/json": {
                "error": {
                  "param": "string",
                  "type": "string",
                  "inner_error": {
                    "code": "ResponsibleAIPolicyViolation",
                    "content_filter_results": {
                      "sexual": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "violence": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "hate": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "self_harm": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "profanity": {
                        "filtered": true,
                        "detected": true
                      },
                      "custom_blocklists": [
                        {
                          "filtered": true,
                          "id": "string"
                        }
                      ],
                      "error": {
                        "code": "string",
                        "message": "string"
                      },
                      "jailbreak": {
                        "filtered": true,
                        "detected": true
                      }
                    }
                  },
                  "code": "string",
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "headers": {
              "apim-request-id": {
                "type": "string",
                "description": "Request ID for troubleshooting purposes"
              }
            },
            "schema": {
              "$ref": "#/definitions/errorResponse"
            },
            "examples": {
              "application/json": {
                "error": {
                  "param": "string",
                  "type": "string",
                  "inner_error": {
                    "code": "ResponsibleAIPolicyViolation",
                    "content_filter_results": {
                      "sexual": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "violence": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "hate": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "self_harm": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "profanity": {
                        "filtered": true,
                        "detected": true
                      },
                      "custom_blocklists": [
                        {
                          "filtered": true,
                          "id": "string"
                        }
                      ],
                      "error": {
                        "code": "string",
                        "message": "string"
                      },
                      "jailbreak": {
                        "filtered": true,
                        "detected": true
                      }
                    }
                  },
                  "code": "string",
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deployment-id}/embeddings": {
      "post": {
        "description": "Get a vector representation of a given input that can be easily consumed by machine learning models and algorithms.",
        "operationId": "embeddings_create",
        "summary": "Get a vector representation of a given input that can be easily consumed by machine learning models and algorithms.",
        "parameters": [
          {
            "name": "deployment-id",
            "in": "path",
            "description": "The deployment id of the model which was deployed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "deployments-deployment-id-EmbeddingsPostRequest-2",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Deployments-deployment-id-EmbeddingsPostRequest-2"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentsDeployment-idEmbeddingsPost200ApplicationJsonResponse"
            },
            "examples": {
              "application/json": {
                "object": "string",
                "model": "string",
                "data": [
                  {
                    "index": 0,
                    "object": "string",
                    "embedding": [
                      0.0
                    ]
                  }
                ],
                "usage": {
                  "prompt_tokens": 0,
                  "total_tokens": 0
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deployment-id}/chat/completions": {
      "post": {
        "description": "Creates a completion for the chat message",
        "operationId": "ChatCompletions_Create",
        "summary": "Creates a completion for the chat message",
        "parameters": [
          {
            "name": "deployment-id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "createChatCompletionRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/createChatCompletionRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "apim-request-id": {
                "type": "string",
                "description": "Request ID for troubleshooting purposes"
              }
            },
            "schema": {
              "$ref": "#/definitions/createChatCompletionResponse"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "chat.completion",
                "created": 0,
                "model": "string",
                "usage": {
                  "prompt_tokens": 0,
                  "completion_tokens": 0,
                  "total_tokens": 0
                },
                "system_fingerprint": "string",
                "prompt_filter_results": [
                  {
                    "prompt_index": 0,
                    "content_filter_results": {
                      "sexual": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "violence": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "hate": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "self_harm": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "profanity": {
                        "filtered": true,
                        "detected": true
                      },
                      "custom_blocklists": [
                        {
                          "filtered": true,
                          "id": "string"
                        }
                      ],
                      "error": {
                        "code": "string",
                        "message": "string"
                      },
                      "jailbreak": {
                        "filtered": true,
                        "detected": true
                      }
                    }
                  }
                ],
                "choices": [
                  {
                    "index": 0,
                    "finish_reason": "string",
                    "message": {
                      "role": "assistant",
                      "content": "string",
                      "tool_calls": [
                        {
                          "id": "string",
                          "type": "function",
                          "function": {
                            "name": "string",
                            "arguments": "string"
                          }
                        }
                      ],
                      "function_call": {
                        "name": "string",
                        "arguments": "string"
                      },
                      "context": {
                        "citations": [
                          {
                            "content": "string",
                            "title": "string",
                            "url": "string",
                            "filepath": "string",
                            "chunk_id": "string"
                          }
                        ],
                        "intent": "string"
                      }
                    },
                    "content_filter_results": {
                      "sexual": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "violence": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "hate": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "self_harm": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "profanity": {
                        "filtered": true,
                        "detected": true
                      },
                      "custom_blocklists": [
                        {
                          "filtered": true,
                          "id": "string"
                        }
                      ],
                      "error": {
                        "code": "string",
                        "message": "string"
                      },
                      "protected_material_text": {
                        "filtered": true,
                        "detected": true
                      },
                      "protected_material_code": {
                        "filtered": true,
                        "detected": true,
                        "citation": {
                          "URL": "string",
                          "license": "string"
                        }
                      }
                    },
                    "logprobs": {
                      "content": [
                        {
                          "token": "string",
                          "logprob": 0.0,
                          "bytes": [
                            0
                          ],
                          "top_logprobs": [
                            {
                              "token": "string",
                              "logprob": 0.0,
                              "bytes": [
                                0
                              ]
                            }
                          ]
                        }
                      ]
                    },
                    "enhancements": {
                      "grounding": {
                        "lines": [
                          {
                            "text": "string",
                            "spans": [
                              {
                                "text": "string",
                                "offset": 0,
                                "length": 0,
                                "polygon": [
                                  {
                                    "x": 0.0,
                                    "y": 0.0
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Service unavailable",
            "headers": {
              "apim-request-id": {
                "type": "string",
                "description": "Request ID for troubleshooting purposes"
              }
            },
            "schema": {
              "$ref": "#/definitions/errorResponse"
            },
            "examples": {
              "application/json": {
                "error": {
                  "param": "string",
                  "type": "string",
                  "inner_error": {
                    "code": "ResponsibleAIPolicyViolation",
                    "content_filter_results": {
                      "sexual": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "violence": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "hate": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "self_harm": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "profanity": {
                        "filtered": true,
                        "detected": true
                      },
                      "custom_blocklists": [
                        {
                          "filtered": true,
                          "id": "string"
                        }
                      ],
                      "error": {
                        "code": "string",
                        "message": "string"
                      },
                      "jailbreak": {
                        "filtered": true,
                        "detected": true
                      }
                    }
                  },
                  "code": "string",
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Service unavailable",
            "headers": {
              "apim-request-id": {
                "type": "string",
                "description": "Request ID for troubleshooting purposes"
              }
            },
            "schema": {
              "$ref": "#/definitions/errorResponse"
            },
            "examples": {
              "application/json": {
                "error": {
                  "param": "string",
                  "type": "string",
                  "inner_error": {
                    "code": "ResponsibleAIPolicyViolation",
                    "content_filter_results": {
                      "sexual": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "violence": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "hate": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "self_harm": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "profanity": {
                        "filtered": true,
                        "detected": true
                      },
                      "custom_blocklists": [
                        {
                          "filtered": true,
                          "id": "string"
                        }
                      ],
                      "error": {
                        "code": "string",
                        "message": "string"
                      },
                      "jailbreak": {
                        "filtered": true,
                        "detected": true
                      }
                    }
                  },
                  "code": "string",
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/deployments/{deployment-id}/audio/transcriptions": {
      "post": {
        "description": "Transcribes audio into the input language.",
        "operationId": "Transcriptions_Create",
        "summary": "Transcribes audio into the input language.",
        "parameters": [
          {
            "name": "deployment-id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "type": "string"
          },
          {
            "name": "prompt",
            "in": "formData",
            "type": "string"
          },
          {
            "name": "response_format",
            "in": "formData",
            "description": "AudioResponseFormat",
            "type": "string",
            "enum": [
              "json",
              "text",
              "srt",
              "verbose_json",
              "vtt"
            ]
          },
          {
            "name": "temperature",
            "in": "formData",
            "type": "number",
            "default": 0.0
          },
          {
            "name": "language",
            "in": "formData",
            "type": "string"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentsDeployment-idAudioTranscriptionsPost200TextPlainResponse"
            },
            "examples": {
              "application/json": {
                "text": "string"
              }
            }
          }
        }
      }
    },
    "/deployments/{deployment-id}/audio/translations": {
      "post": {
        "description": "Transcribes and translates input audio into English text.",
        "operationId": "Translations_Create",
        "summary": "Transcribes and translates input audio into English text.",
        "parameters": [
          {
            "name": "deployment-id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "type": "string"
          },
          {
            "name": "prompt",
            "in": "formData",
            "type": "string"
          },
          {
            "name": "response_format",
            "in": "formData",
            "description": "AudioResponseFormat",
            "type": "string",
            "enum": [
              "json",
              "text",
              "srt",
              "verbose_json",
              "vtt"
            ]
          },
          {
            "name": "temperature",
            "in": "formData",
            "type": "number",
            "default": 0.0
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentsDeployment-idAudioTranslationsPost200TextPlainResponse"
            },
            "examples": {
              "application/json": {
                "text": "string"
              }
            }
          }
        }
      }
    },
    "/deployments/{deployment-id}/audio/speech": {
      "post": {
        "description": "Generates audio from the input text.",
        "operationId": "Speech_Create",
        "summary": "Generates audio from the input text.",
        "parameters": [
          {
            "name": "deployment-id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "in": "formData",
            "type": "string"
          },
          {
            "name": "voice",
            "in": "formData",
            "type": "string",
            "enum": [
              "alloy",
              "echo",
              "fable",
              "onyx",
              "nova",
              "shimmer"
            ]
          },
          {
            "name": "response_format",
            "in": "formData",
            "type": "string",
            "enum": [
              "mp3",
              "opus",
              "aac",
              "flac"
            ]
          },
          {
            "name": "speed",
            "in": "formData",
            "type": "number",
            "default": 1.0
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentsDeployment-idAudioSpeechPost200ApplicationOctet-streamResponse"
            }
          }
        }
      }
    },
    "/deployments/{deployment-id}/images/generations": {
      "post": {
        "description": "Generates a batch of images from a text caption on a given DALLE model deployment",
        "operationId": "ImageGenerations_Create",
        "summary": "Generates a batch of images from a text caption on a given DALLE model deployment",
        "parameters": [
          {
            "name": "deployment-id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "imageGenerationsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/imageGenerationsRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/generateImagesResponse"
            },
            "examples": {
              "application/json": {
                "created": "1676540381",
                "data": [
                  {
                    "url": "https://www.contoso.com",
                    "b64_json": "string",
                    "content_filter_results": {
                      "sexual": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "violence": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "hate": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "self_harm": {
                        "filtered": true,
                        "severity": "safe"
                      }
                    },
                    "revised_prompt": "string",
                    "prompt_filter_results": {
                      "sexual": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "violence": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "hate": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "self_harm": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "profanity": {
                        "filtered": true,
                        "detected": true
                      },
                      "jailbreak": {
                        "filtered": true,
                        "detected": true
                      }
                    }
                  }
                ]
              }
            }
          },
          "400": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/dalleErrorResponse"
            },
            "examples": {
              "application/json": {
                "error": {
                  "param": "string",
                  "type": "string",
                  "inner_error": {
                    "code": "ResponsibleAIPolicyViolation",
                    "content_filter_results": {
                      "sexual": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "violence": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "hate": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "self_harm": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "profanity": {
                        "filtered": true,
                        "detected": true
                      },
                      "jailbreak": {
                        "filtered": true,
                        "detected": true
                      }
                    },
                    "revised_prompt": "string"
                  },
                  "code": "string",
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/dalleErrorResponse"
            },
            "examples": {
              "application/json": {
                "error": {
                  "param": "string",
                  "type": "string",
                  "inner_error": {
                    "code": "ResponsibleAIPolicyViolation",
                    "content_filter_results": {
                      "sexual": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "violence": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "hate": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "self_harm": {
                        "filtered": true,
                        "severity": "safe"
                      },
                      "profanity": {
                        "filtered": true,
                        "detected": true
                      },
                      "jailbreak": {
                        "filtered": true,
                        "detected": true
                      }
                    },
                    "revised_prompt": "string"
                  },
                  "code": "string",
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/assistants": {
      "get": {
        "description": "Returns a list of assistants.",
        "operationId": "List_Assistants",
        "summary": "Returns a list of assistants.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n",
            "type": "integer",
            "default": 20
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n",
            "type": "string",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n",
            "type": "string"
          },
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.\n",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/listAssistantsResponse"
            },
            "examples": {
              "application/json": {
                "object": "list",
                "data": [
                  {
                    "id": "string",
                    "object": "assistant",
                    "created_at": 0,
                    "name": "string",
                    "description": "string",
                    "model": "string",
                    "instructions": "string",
                    "tools": [
                      {
                        "type": "code_interpreter"
                      }
                    ],
                    "file_ids": [
                      "string"
                    ],
                    "metadata": {}
                  }
                ],
                "first_id": "string",
                "last_id": "string",
                "has_more": false
              }
            }
          }
        }
      },
      "post": {
        "description": "Create an assistant with a model and instructions.",
        "operationId": "Create_Assistant",
        "summary": "Create an assistant with a model and instructions.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "createAssistantRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/createAssistantRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/assistantObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "assistant",
                "created_at": 0,
                "name": "string",
                "description": "string",
                "model": "string",
                "instructions": "string",
                "tools": [
                  {
                    "type": "code_interpreter"
                  }
                ],
                "file_ids": [
                  "string"
                ],
                "metadata": {}
              }
            }
          }
        }
      }
    },
    "/assistants/{assistant_id}": {
      "get": {
        "description": "Retrieves an assistant.",
        "operationId": "Get_Assistant",
        "summary": "Retrieves an assistant.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "description": "The ID of the assistant to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/assistantObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "assistant",
                "created_at": 0,
                "name": "string",
                "description": "string",
                "model": "string",
                "instructions": "string",
                "tools": [
                  {
                    "type": "code_interpreter"
                  }
                ],
                "file_ids": [
                  "string"
                ],
                "metadata": {}
              }
            }
          }
        }
      },
      "post": {
        "description": "Modifies an assistant.",
        "operationId": "Modify_Assistant",
        "summary": "Modifies an assistant.",
        "tags": [
          "Assistant"
        ],
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "description": "The ID of the assistant to modify.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "modifyAssistantRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/modifyAssistantRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/assistantObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "assistant",
                "created_at": 0,
                "name": "string",
                "description": "string",
                "model": "string",
                "instructions": "string",
                "tools": [
                  {
                    "type": "code_interpreter"
                  }
                ],
                "file_ids": [
                  "string"
                ],
                "metadata": {}
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete an assistant.",
        "operationId": "Delete_Assistant",
        "summary": "Delete an assistant.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "description": "The ID of the assistant to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/deleteAssistantResponse"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "deleted": true,
                "object": "assistant.deleted"
              }
            }
          }
        }
      }
    },
    "/threads": {
      "post": {
        "description": "Create a thread.",
        "operationId": "Create_Thread",
        "summary": "Create a thread.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "createThreadRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/createThreadRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/threadObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "thread",
                "created_at": 0,
                "metadata": {}
              }
            }
          }
        }
      }
    },
    "/threads/{thread_id}": {
      "get": {
        "description": "Retrieves a thread.",
        "operationId": "Get_Thread",
        "summary": "Retrieves a thread.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the thread to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/threadObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "thread",
                "created_at": 0,
                "metadata": {}
              }
            }
          }
        }
      },
      "post": {
        "description": "Modifies a thread.",
        "operationId": "Modify_Thread",
        "summary": "Modifies a thread.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the thread to modify. Only the `metadata` can be modified.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "modifyThreadRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/modifyThreadRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/threadObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "thread",
                "created_at": 0,
                "metadata": {}
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a thread.",
        "operationId": "Delete_Thread",
        "summary": "Delete a thread.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the thread to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/deleteThreadResponse"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "deleted": true,
                "object": "thread.deleted"
              }
            }
          }
        }
      }
    },
    "/threads/{thread_id}/messages": {
      "get": {
        "description": "Returns a list of messages for a given thread.",
        "operationId": "List_Messages",
        "summary": "Returns a list of messages for a given thread.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the [thread](/docs/api-reference/threads) the messages belong to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n",
            "type": "integer",
            "default": 20
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n",
            "type": "string",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n",
            "type": "string"
          },
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.\n",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/listMessagesResponse"
            },
            "examples": {
              "application/json": {
                "object": "list",
                "data": [
                  {
                    "id": "string",
                    "object": "thread.message",
                    "created_at": 0,
                    "thread_id": "string",
                    "role": "user",
                    "content": [
                      {
                        "type": "image_file",
                        "image_file": {
                          "file_id": "string"
                        }
                      }
                    ],
                    "assistant_id": "string",
                    "run_id": "string",
                    "file_ids": [
                      "string"
                    ],
                    "metadata": {}
                  }
                ],
                "first_id": "string",
                "last_id": "string",
                "has_more": false
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a message.",
        "operationId": "Create_Message",
        "summary": "Create a message.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the [thread](/docs/api-reference/threads) to create a message for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "createMessageRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/createMessageRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/messageObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "thread.message",
                "created_at": 0,
                "thread_id": "string",
                "role": "user",
                "content": [
                  {
                    "type": "image_file",
                    "image_file": {
                      "file_id": "string"
                    }
                  }
                ],
                "assistant_id": "string",
                "run_id": "string",
                "file_ids": [
                  "string"
                ],
                "metadata": {}
              }
            }
          }
        }
      }
    },
    "/threads/{thread_id}/messages/{message_id}": {
      "get": {
        "description": "Retrieve a message.",
        "operationId": "Get_Message",
        "summary": "Retrieve a message.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the [thread](/docs/api-reference/threads) to which this message belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "message_id",
            "in": "path",
            "description": "The ID of the message to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/messageObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "thread.message",
                "created_at": 0,
                "thread_id": "string",
                "role": "user",
                "content": [
                  {
                    "type": "image_file",
                    "image_file": {
                      "file_id": "string"
                    }
                  }
                ],
                "assistant_id": "string",
                "run_id": "string",
                "file_ids": [
                  "string"
                ],
                "metadata": {}
              }
            }
          }
        }
      },
      "post": {
        "description": "Modifies a message.",
        "operationId": "Modify_Message",
        "summary": "Modifies a message.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the thread to which this message belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "message_id",
            "in": "path",
            "description": "The ID of the message to modify.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "modifyMessageRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/modifyMessageRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/messageObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "thread.message",
                "created_at": 0,
                "thread_id": "string",
                "role": "user",
                "content": [
                  {
                    "type": "image_file",
                    "image_file": {
                      "file_id": "string"
                    }
                  }
                ],
                "assistant_id": "string",
                "run_id": "string",
                "file_ids": [
                  "string"
                ],
                "metadata": {}
              }
            }
          }
        }
      }
    },
    "/threads/runs": {
      "post": {
        "description": "Create a thread and run it in one request.",
        "operationId": "Create_Thread_And_Run",
        "summary": "Create a thread and run it in one request.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "createThreadAndRunRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/createThreadAndRunRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/runObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "thread.run",
                "created_at": 0,
                "thread_id": "string",
                "assistant_id": "string",
                "status": "queued",
                "required_action": {
                  "type": "submit_tool_outputs",
                  "submit_tool_outputs": {
                    "tool_calls": [
                      {
                        "id": "string",
                        "type": "function",
                        "function": {
                          "name": "string",
                          "arguments": "string"
                        }
                      }
                    ]
                  }
                },
                "last_error": {
                  "code": "server_error",
                  "message": "string"
                },
                "expires_at": 0,
                "started_at": 0,
                "cancelled_at": 0,
                "failed_at": 0,
                "completed_at": 0,
                "model": "string",
                "instructions": "string",
                "tools": [
                  {
                    "type": "code_interpreter"
                  }
                ],
                "file_ids": [
                  "string"
                ],
                "metadata": {}
              }
            }
          }
        }
      }
    },
    "/threads/{thread_id}/runs": {
      "get": {
        "description": "Returns a list of runs belonging to a thread.",
        "operationId": "List_Runs",
        "summary": "Returns a list of runs belonging to a thread.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the thread the run belongs to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n",
            "type": "integer",
            "default": 20
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n",
            "type": "string",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n",
            "type": "string"
          },
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.\n",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/listRunsResponse"
            },
            "examples": {
              "application/json": {
                "object": "list",
                "data": [
                  {
                    "id": "string",
                    "object": "thread.run",
                    "created_at": 0,
                    "thread_id": "string",
                    "assistant_id": "string",
                    "status": "queued",
                    "required_action": {
                      "type": "submit_tool_outputs",
                      "submit_tool_outputs": {
                        "tool_calls": [
                          {
                            "id": "string",
                            "type": "function",
                            "function": {
                              "name": "string",
                              "arguments": "string"
                            }
                          }
                        ]
                      }
                    },
                    "last_error": {
                      "code": "server_error",
                      "message": "string"
                    },
                    "expires_at": 0,
                    "started_at": 0,
                    "cancelled_at": 0,
                    "failed_at": 0,
                    "completed_at": 0,
                    "model": "string",
                    "instructions": "string",
                    "tools": [
                      {
                        "type": "code_interpreter"
                      }
                    ],
                    "file_ids": [
                      "string"
                    ],
                    "metadata": {}
                  }
                ],
                "first_id": "string",
                "last_id": "string",
                "has_more": false
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a run.",
        "operationId": "Create_Run",
        "summary": "Create a run.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the thread to run.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "createRunRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/createRunRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/runObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "thread.run",
                "created_at": 0,
                "thread_id": "string",
                "assistant_id": "string",
                "status": "queued",
                "required_action": {
                  "type": "submit_tool_outputs",
                  "submit_tool_outputs": {
                    "tool_calls": [
                      {
                        "id": "string",
                        "type": "function",
                        "function": {
                          "name": "string",
                          "arguments": "string"
                        }
                      }
                    ]
                  }
                },
                "last_error": {
                  "code": "server_error",
                  "message": "string"
                },
                "expires_at": 0,
                "started_at": 0,
                "cancelled_at": 0,
                "failed_at": 0,
                "completed_at": 0,
                "model": "string",
                "instructions": "string",
                "tools": [
                  {
                    "type": "code_interpreter"
                  }
                ],
                "file_ids": [
                  "string"
                ],
                "metadata": {}
              }
            }
          }
        }
      }
    },
    "/threads/{thread_id}/runs/{run_id}": {
      "get": {
        "description": "Retrieves a run.",
        "operationId": "Get_Run",
        "summary": "Retrieves a run.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the [thread](/docs/api-reference/threads) that was run.",
            "required": true,
            "type": "string"
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "The ID of the run to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/runObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "thread.run",
                "created_at": 0,
                "thread_id": "string",
                "assistant_id": "string",
                "status": "queued",
                "required_action": {
                  "type": "submit_tool_outputs",
                  "submit_tool_outputs": {
                    "tool_calls": [
                      {
                        "id": "string",
                        "type": "function",
                        "function": {
                          "name": "string",
                          "arguments": "string"
                        }
                      }
                    ]
                  }
                },
                "last_error": {
                  "code": "server_error",
                  "message": "string"
                },
                "expires_at": 0,
                "started_at": 0,
                "cancelled_at": 0,
                "failed_at": 0,
                "completed_at": 0,
                "model": "string",
                "instructions": "string",
                "tools": [
                  {
                    "type": "code_interpreter"
                  }
                ],
                "file_ids": [
                  "string"
                ],
                "metadata": {}
              }
            }
          }
        }
      },
      "post": {
        "description": "Modifies a run.",
        "operationId": "Modify_Run",
        "summary": "Modifies a run.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the [thread](/docs/api-reference/threads) that was run.",
            "required": true,
            "type": "string"
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "The ID of the run to modify.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "modifyRunRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/modifyRunRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/runObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "thread.run",
                "created_at": 0,
                "thread_id": "string",
                "assistant_id": "string",
                "status": "queued",
                "required_action": {
                  "type": "submit_tool_outputs",
                  "submit_tool_outputs": {
                    "tool_calls": [
                      {
                        "id": "string",
                        "type": "function",
                        "function": {
                          "name": "string",
                          "arguments": "string"
                        }
                      }
                    ]
                  }
                },
                "last_error": {
                  "code": "server_error",
                  "message": "string"
                },
                "expires_at": 0,
                "started_at": 0,
                "cancelled_at": 0,
                "failed_at": 0,
                "completed_at": 0,
                "model": "string",
                "instructions": "string",
                "tools": [
                  {
                    "type": "code_interpreter"
                  }
                ],
                "file_ids": [
                  "string"
                ],
                "metadata": {}
              }
            }
          }
        }
      }
    },
    "/threads/{thread_id}/runs/{run_id}/submit_tool_outputs": {
      "post": {
        "description": "When a run has the `status: \"requires_action\"` and `required_action.type` is `submit_tool_outputs`, this endpoint can be used to submit the outputs from the tool calls once they're all completed. All outputs must be submitted in a single request.\n",
        "operationId": "Submit_Tool_Outputs_To_Run",
        "summary": "When a run has the `status: \"requires_action\"` and `required_action.type` is `submit_tool_outputs`, this endpoint can be used to submit the outputs from the tool calls once they're all completed. All outputs must be submitted in a single request.\n",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the [thread](/docs/api-reference/threads) to which this run belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "The ID of the run that requires the tool output submission.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "submitToolOutputsRunRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/submitToolOutputsRunRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/runObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "thread.run",
                "created_at": 0,
                "thread_id": "string",
                "assistant_id": "string",
                "status": "queued",
                "required_action": {
                  "type": "submit_tool_outputs",
                  "submit_tool_outputs": {
                    "tool_calls": [
                      {
                        "id": "string",
                        "type": "function",
                        "function": {
                          "name": "string",
                          "arguments": "string"
                        }
                      }
                    ]
                  }
                },
                "last_error": {
                  "code": "server_error",
                  "message": "string"
                },
                "expires_at": 0,
                "started_at": 0,
                "cancelled_at": 0,
                "failed_at": 0,
                "completed_at": 0,
                "model": "string",
                "instructions": "string",
                "tools": [
                  {
                    "type": "code_interpreter"
                  }
                ],
                "file_ids": [
                  "string"
                ],
                "metadata": {}
              }
            }
          }
        }
      }
    },
    "/threads/{thread_id}/runs/{run_id}/cancel": {
      "post": {
        "description": "Cancels a run that is `in_progress`.",
        "operationId": "Cancel_Run",
        "summary": "Cancels a run that is `in_progress`.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the thread to which this run belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "The ID of the run to cancel.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/runObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "thread.run",
                "created_at": 0,
                "thread_id": "string",
                "assistant_id": "string",
                "status": "queued",
                "required_action": {
                  "type": "submit_tool_outputs",
                  "submit_tool_outputs": {
                    "tool_calls": [
                      {
                        "id": "string",
                        "type": "function",
                        "function": {
                          "name": "string",
                          "arguments": "string"
                        }
                      }
                    ]
                  }
                },
                "last_error": {
                  "code": "server_error",
                  "message": "string"
                },
                "expires_at": 0,
                "started_at": 0,
                "cancelled_at": 0,
                "failed_at": 0,
                "completed_at": 0,
                "model": "string",
                "instructions": "string",
                "tools": [
                  {
                    "type": "code_interpreter"
                  }
                ],
                "file_ids": [
                  "string"
                ],
                "metadata": {}
              }
            }
          }
        }
      }
    },
    "/threads/{thread_id}/runs/{run_id}/steps": {
      "get": {
        "description": "Returns a list of run steps belonging to a run.",
        "operationId": "List_Run_Steps",
        "summary": "Returns a list of run steps belonging to a run.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the thread the run and run steps belong to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "The ID of the run the run steps belong to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n",
            "type": "integer",
            "default": 20
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n",
            "type": "string",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n",
            "type": "string"
          },
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.\n",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/listRunStepsResponse"
            },
            "examples": {
              "application/json": {
                "object": "list",
                "data": [
                  {
                    "id": "string",
                    "object": "assistant.run.step",
                    "created_at": 0,
                    "assistant_id": "string",
                    "thread_id": "string",
                    "run_id": "string",
                    "type": "message_creation",
                    "status": "in_progress",
                    "step_details": {
                      "type": "message_creation",
                      "message_creation": {
                        "message_id": "string"
                      }
                    },
                    "last_error": {
                      "code": "server_error",
                      "message": "string"
                    },
                    "expired_at": 0,
                    "cancelled_at": 0,
                    "failed_at": 0,
                    "completed_at": 0,
                    "metadata": {}
                  }
                ],
                "first_id": "string",
                "last_id": "string",
                "has_more": false
              }
            }
          }
        }
      }
    },
    "/threads/{thread_id}/runs/{run_id}/steps/{step_id}": {
      "get": {
        "description": "Retrieves a run step.",
        "operationId": "Get_Run_Step",
        "summary": "Retrieves a run step.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the thread to which the run and run step belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "The ID of the run to which the run step belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "step_id",
            "in": "path",
            "description": "The ID of the run step to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/runStepObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "assistant.run.step",
                "created_at": 0,
                "assistant_id": "string",
                "thread_id": "string",
                "run_id": "string",
                "type": "message_creation",
                "status": "in_progress",
                "step_details": {
                  "type": "message_creation",
                  "message_creation": {
                    "message_id": "string"
                  }
                },
                "last_error": {
                  "code": "server_error",
                  "message": "string"
                },
                "expired_at": 0,
                "cancelled_at": 0,
                "failed_at": 0,
                "completed_at": 0,
                "metadata": {}
              }
            }
          }
        }
      }
    },
    "/assistants/{assistant_id}/files": {
      "get": {
        "description": "Returns a list of assistant files.",
        "operationId": "List_Assistant_Files",
        "summary": "Returns a list of assistant files.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "description": "The ID of the assistant the file belongs to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n",
            "type": "integer",
            "default": 20
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n",
            "type": "string",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n",
            "type": "string"
          },
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.\n",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/listAssistantFilesResponse"
            },
            "examples": {
              "application/json": {
                "object": "list",
                "data": [
                  {
                    "id": "string",
                    "object": "assistant.file",
                    "created_at": 0,
                    "assistant_id": "string"
                  }
                ],
                "first_id": "string",
                "last_id": "string",
                "has_more": false
              }
            }
          }
        }
      },
      "post": {
        "description": "Create an assistant file by attaching a [File](/docs/api-reference/files) to an [assistant](/docs/api-reference/assistants).",
        "operationId": "Create_Assistant_File",
        "summary": "Create an assistant file by attaching a [File](/docs/api-reference/files) to an [assistant](/docs/api-reference/assistants).",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "description": "The ID of the assistant for which to create a File.\n",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "createAssistantFileRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/createAssistantFileRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/assistantFileObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "assistant.file",
                "created_at": 0,
                "assistant_id": "string"
              }
            }
          }
        }
      }
    },
    "/assistants/{assistant_id}/files/{file_id}": {
      "get": {
        "description": "Retrieves an AssistantFile.",
        "operationId": "Get_Assistant_File",
        "summary": "Retrieves an AssistantFile.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "description": "The ID of the assistant who the file belongs to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "file_id",
            "in": "path",
            "description": "The ID of the file we're getting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/assistantFileObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "assistant.file",
                "created_at": 0,
                "assistant_id": "string"
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete an assistant file.",
        "operationId": "Delete_Assistant_File",
        "summary": "Delete an assistant file.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "description": "The ID of the assistant that the file belongs to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "file_id",
            "in": "path",
            "description": "The ID of the file to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/deleteAssistantFileResponse"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "deleted": true,
                "object": "assistant.file.deleted"
              }
            }
          }
        }
      }
    },
    "/threads/{thread_id}/messages/{message_id}/files": {
      "get": {
        "description": "Returns a list of message files.",
        "operationId": "List_Message_Files",
        "summary": "Returns a list of message files.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the thread that the message and files belong to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "message_id",
            "in": "path",
            "description": "The ID of the message that the files belongs to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n",
            "type": "integer",
            "default": 20
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n",
            "type": "string",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n",
            "type": "string"
          },
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.\n",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/listMessageFilesResponse"
            },
            "examples": {
              "application/json": {
                "object": "list",
                "data": [
                  {
                    "id": "string",
                    "object": "thread.message.file",
                    "created_at": 0,
                    "message_id": "string"
                  }
                ],
                "first_id": "string",
                "last_id": "string",
                "has_more": false
              }
            }
          }
        }
      }
    },
    "/threads/{thread_id}/messages/{message_id}/files/{file_id}": {
      "get": {
        "description": "Retrieves a message file.",
        "operationId": "Get_Message_File",
        "summary": "Retrieves a message file.",
        "tags": [
          "Assistants"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "description": "The ID of the thread to which the message and File belong.",
            "required": true,
            "type": "string"
          },
          {
            "name": "message_id",
            "in": "path",
            "description": "The ID of the message the file belongs to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "file_id",
            "in": "path",
            "description": "The ID of the file being retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/messageFileObject"
            },
            "examples": {
              "application/json": {
                "id": "string",
                "object": "thread.message.file",
                "created_at": 0,
                "message_id": "string"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "errorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/error"
        }
      }
    },
    "errorBase": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "error": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/errorBase"
        }
      ],
      "properties": {
        "param": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "inner_error": {
          "$ref": "#/definitions/innerError"
        }
      }
    },
    "innerError": {
      "description": "Inner error with additional details.",
      "type": "object",
      "properties": {
        "code": {
          "$ref": "#/definitions/innerErrorCode"
        },
        "content_filter_results": {
          "$ref": "#/definitions/contentFilterPromptResults"
        }
      }
    },
    "innerErrorCode": {
      "description": "Error codes for the inner error object.",
      "enum": [
        "ResponsibleAIPolicyViolation"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "InnerErrorCode",
        "modelAsString": true,
        "values": [
          {
            "value": "ResponsibleAIPolicyViolation",
            "description": "The prompt violated one of more content filter rules."
          }
        ]
      }
    },
    "dalleErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/dalleError"
        }
      }
    },
    "dalleError": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/errorBase"
        }
      ],
      "properties": {
        "param": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "inner_error": {
          "$ref": "#/definitions/dalleInnerError"
        }
      }
    },
    "dalleInnerError": {
      "description": "Inner error with additional details.",
      "type": "object",
      "properties": {
        "code": {
          "$ref": "#/definitions/innerErrorCode"
        },
        "content_filter_results": {
          "$ref": "#/definitions/dalleFilterResults"
        },
        "revised_prompt": {
          "description": "The prompt that was used to generate the image, if there was any revision to the prompt.",
          "type": "string"
        }
      }
    },
    "contentFilterResultBase": {
      "required": [
        "filtered"
      ],
      "type": "object",
      "properties": {
        "filtered": {
          "type": "boolean"
        }
      }
    },
    "contentFilterSeverityResult": {
      "required": [
        "severity",
        "filtered"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/contentFilterResultBase"
        },
        {
          "properties": {
            "severity": {
              "enum": [
                "safe",
                "low",
                "medium",
                "high"
              ],
              "type": "string",
              "x-ms-enum": {
                "name": "ContentFilterSeverity",
                "modelAsString": true,
                "values": [
                  {
[...]
