{
  "swagger": "2.0",
  "info": {
    "title": "Colors API",
    "version": "1.0",
    "description": "Colors API",
    "termsOfService": "https://github.com/markharrison/ColorsAPI/blob/master/LICENSE",
    "contact": {
      "name": "Mark Harrison",
      "url": "https://github.com/markharrison/ColorsAPI",
      "email": "mark.colorsapi@harrison.ws"
    },
    "license": {
      "name": "Use under MIT License",
      "url": "https://github.com/markharrison/ColorsAPI/blob/master/LICENSE"
    }
  },
  "host": "apim-demo-dib.azure-api.net",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/colors": {
      "get": {
        "description": "Returns all colors.",
        "operationId": "GetColors",
        "summary": "Get colors",
        "tags": [
          "Colors"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "Success - returns list of colors",
            "schema": {
              "$ref": "#/definitions/ColorsItemArray"
            },
            "examples": {
              "application/json": [
                {
                  "id": 0,
                  "name": "string",
                  "data": "string"
                }
              ],
              "text/json": [
                {
                  "id": 0,
                  "name": "string",
                  "data": "string"
                }
              ]
            }
          }
        }
      },
      "post": {
        "description": "Updates colors - creates color if it doesn't exist",
        "operationId": "UpdateColors",
        "summary": "Update / create colors",
        "tags": [
          "Colors"
        ],
        "parameters": [
          {
            "name": "colorsItemArray-1",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ColorsItemArray-1"
            },
            "description": "Colors to update"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "responses": {
          "201": {
            "description": "Success - colors updated/created",
            "schema": {
              "$ref": "#/definitions/ColorsItem"
            },
            "examples": {
              "application/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              },
              "text/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            },
            "examples": {
              "application/json": {
                "type": "string",
                "title": "string",
                "status": 0,
                "detail": "string",
                "instance": "string"
              },
              "text/json": {
                "type": "string",
                "title": "string",
                "status": 0,
                "detail": "string",
                "instance": "string"
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes all colors.",
        "operationId": "DeletesColors",
        "summary": "Delete colors",
        "tags": [
          "Colors"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "responses": {
          "204": {
            "description": "Success - all colors deleted",
            "schema": {
              "$ref": "#/definitions/ColorsItem"
            },
            "examples": {
              "application/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              },
              "text/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              }
            }
          }
        }
      }
    },
    "/colors/{colorId}": {
      "get": {
        "description": "Returns color specified by {colorId} (must be between 1 and 1000).",
        "operationId": "GetColorById",
        "summary": "Get color by id",
        "tags": [
          "Colors"
        ],
        "parameters": [
          {
            "name": "colorId",
            "in": "path",
            "description": "Format - int32. Format - int32. Id of Color to return",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "Success - returns color",
            "schema": {
              "$ref": "#/definitions/ColorsItem"
            },
            "examples": {
              "application/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              },
              "text/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            },
            "examples": {
              "application/json": {
                "type": "string",
                "title": "string",
                "status": 0,
                "detail": "string",
                "instance": "string"
              },
              "text/json": {
                "type": "string",
                "title": "string",
                "status": 0,
                "detail": "string",
                "instance": "string"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            },
            "examples": {
              "application/json": {
                "type": "string",
                "title": "string",
                "status": 0,
                "detail": "string",
                "instance": "string"
              },
              "text/json": {
                "type": "string",
                "title": "string",
                "status": 0,
                "detail": "string",
                "instance": "string"
              }
            }
          }
        }
      },
      "post": {
        "description": "Updates color specified by {colorId} (must be between 1 and 1000);  use {colorId} = 0 to insert new color",
        "operationId": "UpdateColorById",
        "summary": "Update / create color by id",
        "tags": [
          "Colors"
        ],
        "parameters": [
          {
            "name": "colorId",
            "in": "path",
            "description": "Format - int32. Format - int32. Id of Color to update",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "colorsItem",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ColorsItem"
            },
            "description": "Colors to update"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "responses": {
          "201": {
            "description": "Success - color created/updated",
            "schema": {
              "$ref": "#/definitions/ColorsItem"
            },
            "examples": {
              "application/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              },
              "text/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            },
            "examples": {
              "application/json": {
                "type": "string",
                "title": "string",
                "status": 0,
                "detail": "string",
                "instance": "string"
              },
              "text/json": {
                "type": "string",
                "title": "string",
                "status": 0,
                "detail": "string",
                "instance": "string"
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes color specified by {colorId} (must be between 1 and 1000).",
        "operationId": "DeleteColorById",
        "summary": "Delete color by id",
        "tags": [
          "Colors"
        ],
        "parameters": [
          {
            "name": "colorId",
            "in": "path",
            "description": "Format - int32. Format - int32. Id of Color to delete",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "responses": {
          "204": {
            "description": "Success - color deleted",
            "schema": {
              "$ref": "#/definitions/ColorsItem"
            },
            "examples": {
              "application/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              },
              "text/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            },
            "examples": {
              "application/json": {
                "type": "string",
                "title": "string",
                "status": 0,
                "detail": "string",
                "instance": "string"
              },
              "text/json": {
                "type": "string",
                "title": "string",
                "status": 0,
                "detail": "string",
                "instance": "string"
              }
            }
          }
        }
      }
    },
    "/colors/findbyname": {
      "get": {
        "description": "Returns color specified by {colorName} ",
        "operationId": "GetColorByName",
        "summary": "Get color by name",
        "tags": [
          "Colors"
        ],
        "parameters": [
          {
            "name": "colorName",
            "in": "query",
            "description": "Name of Color to return",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "Success - returns color",
            "schema": {
              "$ref": "#/definitions/ColorsItem"
            },
            "examples": {
              "application/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              },
              "text/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            },
            "examples": {
              "application/json": {
                "type": "string",
                "title": "string",
                "status": 0,
                "detail": "string",
                "instance": "string"
              },
              "text/json": {
                "type": "string",
                "title": "string",
                "status": 0,
                "detail": "string",
                "instance": "string"
              }
            }
          }
        }
      }
    },
    "/colors/random": {
      "get": {
        "description": "Returns random color.",
        "operationId": "GetRandomColor",
        "summary": "Get random color",
        "tags": [
          "Colors"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "Success - returns random color",
            "schema": {
              "$ref": "#/definitions/ColorsItem"
            },
            "examples": {
              "application/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              },
              "text/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            },
            "examples": {
              "application/json": {
                "type": "string",
                "title": "string",
                "status": 0,
                "detail": "string",
                "instance": "string"
              },
              "text/json": {
                "type": "string",
                "title": "string",
                "status": 0,
                "detail": "string",
                "instance": "string"
              }
            }
          }
        }
      }
    },
    "/colors/reset": {
      "post": {
        "description": "Reset colors to default.",
        "operationId": "ResetColors",
        "summary": "Reset colors",
        "tags": [
          "Colors"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/plain"
        ],
        "responses": {
          "201": {
            "description": "Success - colors reset",
            "schema": {
              "$ref": "#/definitions/ColorsItem"
            },
            "examples": {
              "application/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              },
              "text/json": {
                "id": 0,
                "name": "string",
                "data": "string"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ColorsItem": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "data": {
          "type": "string"
        }
      },
      "additionalProperties": false,
      "example": {
        "id": 0,
        "name": "string",
        "data": "string"
      }
    },
    "ProblemDetails": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "status": {
          "format": "int32",
          "type": "integer"
        },
        "detail": {
          "type": "string"
        },
        "instance": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "ColorsItemArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ColorsItem"
      }
    },
    "ColorsItemArray-1": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ColorsItem"
      },
      "example": [
        {
          "id": 0,
          "name": "string",
          "data": "string"
        }
      ]
    }
  },
  "tags": []
}